.restaurant-datatable {
  margin: 50px auto;
  text-align: center;
  width: 80%;
}

.restaurant-datatable table {
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  table-layout: fixed;
  width: 100%;
  font-size: 0.9rem;
}

.restaurant-datatable th,
.restaurant-datatable td {
  padding: 12px 15px;
}

.restaurant-datatable th {
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
  text-align: center;
}

.restaurant-datatable td {
  text-align: center;
}

.restaurant-datatable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.restaurant-datatable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.restaurant-datatable tbody tr:last-of-type {
  border-bottom: 2px solid var(--main-color);
}

.restaurant-datatable tbody td:first-child:not(.no-results) {
  font-weight: bold;
}

.auto-column {
  width: auto;
}

.small-column {
  width: 10%;
}

.large-column {
  width: 40%;
}

label {
  margin-right: 5px;
}

.search-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  display: flex;
}

.search-box button {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  height: 32px;
  margin: 0;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-box input {
  width: 250px;
  height: 32px;
  border-style: solid;
  border-right: none;
  border-width: 1px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-indent: 10px;
}

.search-box label {
  margin-right: 1px;
}

.search-filter-container select {
  background-color: white;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.search-filter-container div:last-child {
  margin-right: 1px;
}
